<!--Home-->
<div id="home" class="bg-coffee">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light w-100 fixed-top">
    <a class="navbar-brand text-white trocar" href="#listar-colaborador"><span class="">Registrar Colaboradores</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button>
      Teste
    </button>
    <div>
      <a class="navbar-brand text-white trocar"
      [routerLink]="['/home']"
      aria-current="page">
      <span class="">Listar Colaboradores</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div>
      <a class="navbar-brand text-white trocar" href="#paginainicial"><span class="">Registrar Colaboradores</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <!--End Navbar-->
</div>
